/* element selectors */
body {
	background-color: #002544;
	font-family: 'Walter Turncoat', cursive;
	display: grid;
	grid-template-columns: 15% 40% 45%;
	grid-template-areas: 
	"aside header header"
	"aside main main"
	"aside main main"
	"footer footer footer";
	height: 100vh;
}

header {
	background-color: #FF9546;
	flex-wrap: wrap;
	grid-area: header;
	justify-content: center;
}

nav {
	align-self: center;
	background-color: #4a6163;
	justify-content: center;
	margin: 5px;
	width: 100%;
}

ul {
	width: 50%;	
}

li {
	color: #FF9546;
	list-style: none;
	margin: 15px;
}

li:hover {
	color: #FF9546;
	cursor: pointer;
}

button {
	background-color: #ECF6FF;
	border-radius: 5px;
	color: #002544;
	height: 48px;
	width: 45%;
}

button:hover {
	color: #FF9546;
	cursor: pointer;
	background-color: #002544;
}

h1 {
	/* background-color: #4a6163; */
	color: #002544;
	height: fit-content;
	margin-bottom: 0px;
	text-align: center;
	width: 70%;
}

h3 {
	color: #FF9546;
	height: 22%;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

main {
	background-color: #FF9546 ;
	flex-wrap: wrap;
	grid-area: main;
	justify-content: center;
}

article {
	background-color: #4a6163;
}

p {
	align-self: center;
	color: #FF9546;
	text-align: center;
	height: 60%;}

aside {
	background-color: #FF9546 ;
	flex-wrap: wrap;
	grid-area: aside;
}

form {
	align-self: center;
	background-color: #4a6163;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
	padding: 1em;
}

input {
	background-color: whitesmoke;
	color: #016ABC;
	height: 3em;
	margin: 5px;
	width: 50%;
}

textarea {
	width: 50%;
}

table {
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
}

tbody {
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
}

tr {
	display: flex;
	width: 100%;
}

td {
	border: 1px solid #002544;
	color: #FF9546;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 17%;
}

td:hover {
	color: #FF9546;
	overflow: visible;
}

th {
	color: #FF9546;
	width: 17%;
}

thead {
	width: 100%;
}

footer {
	background-color: #FF9546;
	/* height: fit-content; */
	grid-area: footer;
	padding: 5px;
}

/* class selectors */

.flex {
	display: flex;
}

.border {
	border: 2px solid #4a6163;
}

.header-logo {
	width: 70%;
}

.nav-ul {
	align-self: center;
	justify-content: center;
	width: 50%;
}

.form-search {
	flex-wrap: nowrap;
	width: 65%;
}

.nav-search-input {
	width: 100%;
}

.nav-search-btn {
	align-self: center;
}

.top-aside,
.bottom-aside {
	height: 47%;
	margin: 5px auto;
	padding: 5px;
	width: 90%;
}

.top-aside {
	flex-wrap: wrap;
	letter-spacing: 3px;
}

.bottom-aside {
	flex-wrap: wrap-reverse;
}

.form-donate {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.form-donate-input {
  height: 65px;
	width: 98%;
}

.article-about,
.article-comment {
	margin: 5px;
	width: 100%;
}

.about-paragraph,
.form-comment {
	display: none;
}

.about-paragraph {
	width: 100%;
}

.article-comment {
	justify-content: center;
}

.form-comment {
	width: 50%;
}

.form-comment-box {
	margin: 5px;
}

.form-comment-bottom {
	width: 100%;
	justify-content: center;
}

.form-name-input,
.form-email-input,
.form-comment-box {
	width: 100%;
}

.form-comment-btn {
	margin-top: 10px;
	width: 35%;
}

.main-top {
	height: fit-content;
	width: 100%;
}

.main-bottom {
	width: 100%;
}

.form-left,
.form-right {
	height: fit-content;
	width: 100%;
}

.form-submit {
	align-self: flex-start;
	width: 100%;
}

.form-submit-btn {
	width: 20%;
}

.form-bottom {
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}

.main-article-table,
.main-article-today-table {
	height: fit-content;
	margin: 5px;
	width: 100%;
}

/* .td-link:hover {
	color: #016ABC;
	width: 50%;
} */

.th-styles:hover {
	background-color: #002544;
	color: #ECF6FF;
	cursor: pointer;
}

.archive-h3 {
	color: #002544;
}

.footer-logo {
	width: 15%;
}

.footer-ul {
	background-color: #4a6163;
	justify-content: center;
	width: 100%;
}

.footer-li {
	color: #FF9546;
}

@media only screen and (max-width: 900px) {
	body {
		display: flex;
		flex-wrap: wrap;
		height: 100vh;
		margin: 0px;
		width: 100%;
	}

	.top-aside,
	.bottom-aside {
		display: none;
	}

	li {
	color: #FF9546;
	list-style: none;
	margin: 0px;
	}

	#li-about-id,
	.footer-li {
		padding-right: 1em;
	}

	footer {
		width: 100%;
	}
}