/* element selectors */
body {
	font-family: 'Walter Turncoat', cursive;

	display: grid;
	grid-template-columns: 15% 40% 45%;
	grid-template-areas: 
	"aside header header"
	"aside main main"
	"aside main main"
	"aside main main"
	"aside main main"
	"footer footer footer";
	height: 100vh;
}

header {
	border: 2px solid black;
	flex-wrap: wrap;
	grid-area: header;
	justify-content: center;
}

nav {
	border: 2px solid black;
	margin: 5px;
	width: 100%;
}

ul {
	justify-content: center;
	width: 100%;	
}

li {
	list-style: none;
	margin: 5px;
}

h1 {
	height: 11%;
	margin-bottom: 0px;
	text-align: center;
	width: 70%;
}

h3 {
	color: firebrick;
	height: 11%;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

main {
	border: 2px solid black;
	grid-area: main;
}

article {
	border: 2px solid black;
}

p {
	align-self: center;
	text-align: center;
	height: 60%;}

aside {
	border: 2px solid black;
	flex-wrap: wrap;
	grid-area: aside;
}

form {
	align-self: center;
	border: 2px solid black;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
	padding: 1em;
	width: 100%;
}

input {
	height: 2em;
	margin: 5px;
	width: 50%;
}

table {
	flex-wrap: wrap;
	width: 100%;
}

tbody {
	flex-wrap: wrap;
	width: 100%;
}

tr {
	display: flex;
	width: 100%;
}

td {
	border: 1px solid black;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 17%;
}

td:hover {
	overflow: visible;
}

th {
	border: 1px solid black;
	width: 17%;
}

thead {
	width: 100%;
}

footer {
	border: 2px solid black;
	grid-area: footer;
	margin-top: 5px
}

/* class selectors */

.flex {
	display: flex;
}

.top-aside,
.bottom-aside {
	height: 47%;
	margin: 5px auto;
	width: 90%;
}

.top-aside {
	flex-wrap: wrap;
	letter-spacing: 3px;
}

.form-left,
.form-right {
	height: fit-content;
	width: 100%;
}

.form-bottom {
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}

.main-article-table {
	margin: 5px;
	width: 100%;
}

.td-link:hover {
	width: 50%;
}